<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
            
    <!-- 移库手建单 -->
	<bean id="mdata_PlanMImpl" class="com.sealinkin.mdata.service.impl.Mdata_PlanMImpl">
		<property name="genDao" ref="genDao" />
	</bean>
	
    <!-- 移库回单 -->
	<bean id="odata_OutstockDImpl" class="com.sealinkin.mdata.service.impl.Odata_OutstockDImpl">
		<property name="genDao" ref="genDao" />
		<property name="getArticleForBarcodeImpl" ref="getArticleForBarcodeImpl" />
	</bean>
	<!-- 移库发单 -->
	<bean id="odata_OutstockDirectImpl" class="com.sealinkin.mdata.service.impl.Odata_OutstockDirectImpl">
		<property name="genDao" ref="genDao" />
	</bean>
</beans>





















