<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
	default-lazy-init="false">
	<!-- 报损手建单-->
	<bean id="sodata_WasteAction" class="com.sealinkin.sodata.action.Sodata_WasteAction" scope="prototype">
		<property name="sodata_WasteServiceImpl" ref="sodata_WasteServiceImpl"></property>
	</bean>	
	<!-- 报损回单-->
	<bean id="sodata_OutStockAction" class="com.sealinkin.sodata.action.Sodata_OutStockAction" scope="prototype">
		<property name="sodata_OutStockServiceImpl" ref="sodata_OutStockServiceImpl"></property>
	</bean>	
</beans>

