<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    <!-- 登录 -->
	<bean id="loginImpl" class="com.sealinkin.auth.service.impl.LoginImpl">
		<property name="genDao" ref="genDao" />
	</bean>
	
	<!-- 用户与仓别与委托业主关系维护 -->
	<bean id="bset_Worker_LocImpl" class="com.sealinkin.auth.service.impl.Bset_Worker_LocImpl">
		<property name="genDao" ref="genDao" />
	</bean>
	
	<!-- 权限 -->
	<bean id="authImpl" class="com.sealinkin.auth.service.impl.AuthImpl">
		<property name="genDao" ref="genDao" />
	</bean>
	
	<!-- 打印机组与打印机关系维护 -->
	<bean id="bset_groupImpl" class="com.sealinkin.auth.service.impl.Bset_GroupImpl">
		<property name="genDao" ref="genDao" />
	</bean>
</beans>





















