<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
    <!--虚拟库存调整-->
	<bean id="stock_AdjustAccountsServiceImpl" class="com.sealinkin.stock.service.impl.Stock_AdjustAccountsServiceImpl">
		<property name="genDao" ref="genDao" />
	</bean>
	<!--库存调账手建单-->
	<bean id="stock_PlanImportServiceImpl" class="com.sealinkin.stock.service.impl.Stock_PlanImportServiceImpl">
		<property name="genDao" ref="genDao" />
	</bean>
    <!--库存调账确认-->
	<bean id="stock_ConfirmServiceImpl" class="com.sealinkin.stock.service.impl.Stock_ConfirmServiceImpl">
		<property name="genDao" ref="genDao" />
	</bean>
</beans>





















