<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
	default-lazy-init="false">
	<!-- 入库 -->
	<bean id="acdata_InStockAction" class="com.sealinkin.acdata.action.Acdata_InStockAction" scope="prototype">
		<property name="acdata_InStockServiceImpl" ref="acdata_InStockServiceImpl"></property>
	</bean>	
	<!-- 出库 -->
	<bean id="acdata_OutStockAction" class="com.sealinkin.acdata.action.Acdata_OutStockAction" scope="prototype">
		<property name="acdata_OutStockServiceImpl" ref="acdata_OutStockServiceImpl"></property>
	</bean>	
	<!-- 订单管理-->
	<bean id="acdata_OrderAction" class="com.sealinkin.acdata.action.Acdata_OrderAction" scope="prototype">
		<property name="acdata_OrderImpl" ref="acdata_OrderImpl"></property>
	</bean>	
	
</beans>

