<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
            
    <!-- 进货手建单 -->
	<bean id="idata_ImPortImpl" class="com.sealinkin.idata.service.impl.Idata_ImPortImpl">
		    <property name="genDao" ref="genDao" />
			<property name="getSystemParameterImpl" ref="getSystemParameterImpl"/>
	</bean>
	
    <!-- 验收 -->
	<bean id="idata_CheckImpl" class="com.sealinkin.idata.service.impl.Idata_CheckImpl">
		<property name="genDao" ref="genDao" />
		<property name="getArticleForBarcodeImpl" ref="getArticleForBarcodeImpl" />
		<property name="getSystemParameterImpl" ref="getSystemParameterImpl"/>
	</bean>
	
	<!-- 上架回单 -->
	<bean id="idata_InstockImpl" class="com.sealinkin.idata.service.impl.Idata_InstockImpl">
		<property name="genDao" ref="genDao" />
		<property name="checkCellImpl" ref="checkCellImpl" />
		<property name="getArticleForBarcodeImpl" ref="getArticleForBarcodeImpl" />
	</bean>
	<!-- 预约-->
	<bean id="idata_Order_TimeImpl" class="com.sealinkin.idata.service.impl.Idata_Order_TimeImpl">
		<property name="genDao" ref="genDao" />
	</bean>
	
	<!-- 直通验收批次管理-->
	<bean id="idata_StraightCheckBatchImpl" class="com.sealinkin.idata.service.impl.Idata_StraightCheckBatchImpl">
		<property name="genDao" ref="genDao" />
	</bean>
	
	<!-- 直通验收作业-->
	<bean id="idata_StraightCheckWorkImpl" class="com.sealinkin.idata.service.impl.Idata_StraightCheckWorkImpl">
		<property name="genDao" ref="genDao" />
	</bean>
	
	  <!-- 验收 -->
	<bean id="idata_StorageCloseImpl" class="com.sealinkin.idata.service.impl.Idata_StorageCloseImpl">
		<property name="genDao" ref="genDao" />
	</bean>
	
	  <!-- 移动台车验收 -->
	<bean id="idata_MovieTrolleyCheckImpl" class="com.sealinkin.idata.service.impl.Idata_MovieTrolleyCheckImpl">
		<property name="genDao" ref="genDao" />
	</bean>
	
	 <!-- 门卫登记 -->
	<bean id="idata_GuardRegisteImpl" class="com.sealinkin.idata.service.impl.Idata_GuardRegisteImpl">
		<property name="genDao" ref="genDao" />
	</bean>
</beans>





















